body {
  margin: 30px;
  background-color: rgb(8, 54, 8);
}

main,
header {
  width: 1000px;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: white;
}

div {
  padding: 0;
  margin: 10px;
  height: 150px;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.box1 {
  width: 300px;
  height: 150px;
  background-color: blue;
}

.box2 {
  width: 300px;
  height: 150px;
  background-color: rgb(255, 0, 149);
}

.box3 {
  width: 150px;
  height: 150px;
  background-color: rgb(166, 255, 0);
}

.box4 {
  width: 150px;
  height: 150px;
  background-color: rgb(0, 255, 128);
}

.box5 {
  width: 300px;
  height: 150px;
  background-color: rgb(106, 106, 165);
}

.box6 {
  width: 300px;
  height: 150px;
  background-color: rgb(211, 187, 201);
}

.box7 {
  width: 150px;
  height: 150px;
  background-color: rgb(55, 129, 98);
}

.box8 {
  width: 150px;
  height: 150px;
  background-color: rgb(255, 94, 0);
}

.box9 {
  width: 300px;
  height: 150px;
  background-color: blue;
}

.box10 {
  width: 300px;
  height: 150px;
  background-color: rgb(134, 36, 93);
}

.box11 {
  width: 320px;
  height: 150px;
  background-color: rgb(83, 126, 4);
}

.box12 {
  width: 300px;
  height: 150px;
  background-color: rgb(34, 138, 86);
}

.box13 {
  width: 300px;
  height: 150px;
  background-color: rgb(61, 96, 116);
}

.box14 {
  width: 150px;
  height: 150px;
  background-color: rgb(35, 128, 74);
}

.box15 {
  width: 150px;
  height: 150px;
  background-color: rgb(68, 46, 119);
}

/* No he utilizado el flex-grow porque quedaba la tercera fila un poco descuadrada. */
